.demboys{
    color: purple;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

.knifer{
    background-color: cornflowerblue;
    color: hotpink;
}

div{
    background-color: lightgreen;
    color: red;
}

.onome{
    background-color: aqua;
    color: blue;
}