*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

header{
    padding: 5px 20px;
    background: white;
    border-bottom: 1px solid rgb(185, 185, 185);
    position: fixed;
    width: 100%;
}

header .container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    line-height: 90px;
    justify-content: space-between;
}
header a{
    margin-right: 15px;
    text-decoration: none;
    color: rgb(13, 4, 59);
}
header a:hover{
    color: rgb(168, 167, 167);
}


/* NAV_MENU OPT */

.hero{
    
}

/* SOCIAL MEDIAS  */

.socialMedia{
    width:3%;
    margin-top: 260px;
    display: block;
    background: rgb(1, 1, 49);
    position: fixed;
    height: inherit;
    background-size: cover;
}

.socialMedia span{
    background: rgb(20, 20, 100);
    padding:10px 20px;
    margin:  20px 0;
}
 .spanfacebook{
    border-top-right-radius: 10px;
  
}
.spanfacebook:hover{
    background: rgb(3, 13, 158);   
    padding-top: 20px;
}
 .spantwitter{
    border-bottom-right-radius: 10px;
}
.spantwitter:hover{
    background: #0ab5cc;
}

.linkedin{
border-bottom-right-radius: 10px;
}

.linkedin:hover{
    background: #014b88;
}
.hero{
    padding-top: 80px;
    padding-bottom: 30px;
}
.hero h1{
    font-size: 70px; 
    line-height: 70px;
    margin: 120px  0 20px 0;
    color: rgb(13, 2, 70);
}
.wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hero button{
margin-top: 20px;
padding: 20px 35px;
background: rgb(6, 6, 121);
border: none;
color:white;
border-radius: 10px;
}
.heropix img{
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}






.ATGLANCE{
    color: white;
    padding: 70px 0px;
    background:rgba(7, 1, 59, 0.9) url(SQI_summer.jpg);
    background-blend-mode: darken;
    background-size: cover;
    height: inherit;
    width: 100%;

    }

.atglancetxt{
    width: 50%;
}
.atglancetxt a:hover{
color: rgb(255, 182, 182);
}
.atglancetxt button{
    padding: 10px 20px;
    background: none;
    color: white;
    border: 1px solid white;
    font-size: 17px;
    border-radius: 5px;
}

.atglancetxt h1{
     margin-bottom: 30px;
}
.atglancetxt p{
    font-size:  15px;
}
.atglancetxt a{
    text-decoration: none;
    color: rgb(71, 89, 255);
}

.atglancetxt button:hover{
    background: rgb(51, 98, 252);
    
}

.wrapy{
    width: 80%;
    margin: 0 auto;
    
}
.rows .row1,.row2,.row3{
   display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.alumni{
    padding: 70px 0;
}
.alumni h1{
    color: rgb(29, 28, 28);
    margin-bottom: 30px;
}
.techContinent{
    background: #f0fbff;
    padding: 70px 60px 70px 0;
}
.techgroup{
    display: flex;
    justify-content: space-between;
}
.techContinent-text{
    padding-left: 50px;
    color: rgb(46, 45, 45);
}
.techContinent-text h1{
    font-size: 40px;
    width: 350px;
}

.techContinent-text p{
    margin-bottom: 30px;
    width: 75%;
}

.topCourses{
    margin: 70px 0;
}
.lab{
    margin-right: 70px;
}
.lab_txt{
   background: #d5eaf3;
   width:80%;
   padding: 60px;
   border-radius: 25px;
   margin-top: 30px;
   color: rgb(46, 45, 45);
   box-shadow: 1px 1px 30px 2px   #cef9ff;
}
.lab_txt img{
    border-radius: 10px;
}
.lab_details h1{
 font-size: 45px;
 color: rgb(46, 45, 45);
}
.lab_details a:hover{
color: rgb(250, 71, 71);
}
.lab_details p{
    color: rgb(46, 45, 45);
    margin-bottom: 25px;
}

.lab_txt h2{
    margin: 20px 0;
}
.lab_txt p{
    margin-bottom: 20px;
}
.lab_txt a{
    text-decoration: none;
    padding: 5px 10px;
}
.lab_txt a:hover{
    background: white;
    color: rgb(160, 0, 0);
    border-radius: 10px;
}

.wrap2{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


/* LAB 2 DETAILS */

.lab_txt2{
    background: #eeefbd;
    width:80%;
    padding: 60px;
    border-radius: 25px;
    border: 1px solid rgb(129, 129, 129);
    box-shadow: 1px 30px 30px 1px   #ffdee1;
}
.lab_txt2 img{
    border-radius: 10px;
}
.lab_txt2 p{
    color: rgb(46, 45, 45);
    margin-bottom: 25px;
}

.lab_txt2 h2{
    margin: 20px 0;
}
.lab_txt2 p{
    margin-bottom: 20px;
}
.lab_txt2 a{
    text-decoration: none;
    padding: 5px 10px;
}
.lab_txt2 a:hover{
    background: white;
    color: rgb(160, 0, 0);
    border-radius: 10px;
}

/* LAB 3 DETAILS */

.lab_txt3{
    background: #e0d5c0;
    width:80%;
    padding: 60px;
    border-radius: 25px;
    box-shadow: 1px 1px 30px 2px   #cef9ff;
}
.lab_txt3 img{
    border-radius: 10px;
}


.lab_txt3 p{
    color: rgb(46, 45, 45);
    margin-bottom: 25px;
}

.lab_txt3 h2{
    margin: 20px 0;
}
.lab_txt3 p{
    margin-bottom: 20px;
}
.lab_txt3 a{
    text-decoration: none;
    padding: 5px 10px;
}
.lab_txt3 a:hover{
    background: white;
    color: rgb(160, 0, 0);
    border-radius: 10px;
}


/* LAB 4 DETAILS */


.lab_txt4{
    background:#dfd5e8;
    width:80%;
    padding: 60px;
    border-radius: 25px;
    border: 1px solid rgb(129, 129, 129);
    box-shadow: 1px 30px 30px 1px   #ffdee1;
    
}
.lab_txt4 img{
    border-radius: 10px;
}


.lab_txt4 p{
    color: rgb(46, 45, 45);
    margin-bottom: 25px;
}

.lab_txt4 h2{
    margin: 20px 0;
}
.lab_txt4 p{
    margin-bottom: 20px;
}
.lab_txt4 a{
    text-decoration: none;
    padding: 5px 10px;
}
.lab_txt4 a:hover{
    background: white;
    color: rgb(160, 0, 0);
    border-radius: 10px;
}

